body{
    font-family: 'Poppins', 'sans-serif';
}
.navbar-container{
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
    margin-left: 5%;
    margin-right: 5%;
}
.grow-list{
    /* width: 40%; */
    flex-grow: 1;
}
.list{
    display: flex;
    list-style-type: none;
    margin-left: 2%;
    margin-top: 5px;
    /* align-content: flex-start; */
    /* width: 25em; */
    /* justify-content: space-between; */
}
.list-item{
    color: #979fa9;
    margin-right: 20px;
}
.list-item:hover{
    color: #111111;
}
.button-group{
    float: right;
}
nav div img{
    width: 6em;
}
.nav-button{
    padding: 10px 20px;
    background-color: #5955B3;
    color: white;
    border: none;
    border-radius: 10px;
}
/* -------------Banner------------------ */
.banner-container{
    display: flex;
}
.banner-container div img{
    width: 100%
}
.leftText {
    position: relative;
    left: 5%;
    top: 5em;
    flex-grow: 0;
}
.heading-text{
    font-size: 40px;
    font-weight: 600;
    color: #3C2F60;
    margin-bottom: 0px;
    width: 80%;
}
.description{
    color: #8C8C8C;
    margin-bottom: 3em;
    width: 80%;
}
span{
    color: #5955B3;
}
.btn{
    padding: 15px 25px;
}